* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* background:url('../img/board-5599231_1280.png') ; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#5cdb95, rgb(2, 5, 32));
  overflow: hidden;

  /* css transition boxes-doesnt affect your html or javafile or other element styles */
}
.boxs {
  position: absolute;
  bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.boxs span {
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  animation: move 10s linear infinite;
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}
@keyframes move {
  100% {
    transform: translateY(-90vh);
    /* transform: translateX(-90vh); */
  }
}

.boxs span.one {
  animation-delay: 2.5s;
  transform: scale(3);
}
.boxs span.two {
  animation-delay: 3.5s;
  transform: scale(2.5);
}
.boxs span.three {
  animation-delay: 6.5s;
  transform: scale(4);
}
.boxs span.four {
  animation-delay: 7.5s;
  transform: scale(2);
}
.boxs span.five {
  animation-delay: 5.5s;
  transform: scale(3.5);
}
.boxs span.six {
  animation-delay: 4.5s;
  transform: scale(2.5);
}

.bubbles span.eight {
  animation-delay: 2.5s;
  transform: scale(1.5);
}
/* end of background transition */

.container {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;
}
#open {
  font-size: 30px;
}

.btn {
  cursor: pointer;
  background-color: darkcyan;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  height: 10%;
  transform: translateY(-100vh);
}

/* the modal styling starts here */
.modal__container {
  border: 0;
  border-radius: 30px;

  width: 80%;
  max-width: 450px;
  margin: auto;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.modal__container::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* max-width: 100%; */
  padding: 30px 35px;
  text-align: center;
  border-radius: 30px;
}
/* the heading in dialog(modal)*/
h1 {
  /* margin: 0; */
  opacity: 0.4;
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
/* ends here */
/* start of body */

/* input in the modal */
input {
  padding: 10px;
  border-radius: 9px;
  transform: translateX(-100vw);
}

/* these 2 classes will be added to the elments created in the app.js */
/* .action__container {
  background-color: rgb(79, 129, 79);
  width: 100px;
  height: 120px;
  border-radius: 6px;
  box-shadow: -13px 10px 25px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__text {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
} */

select {
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  transform: translateX(-100vw);
}
.shapes {
  display: flex;
  
  justify-content: space-around;
  gap: 10px;
  margin-top: 30px;
}
.shape {
  cursor: pointer;
}
.triangle {
  display: grid;
  place-items: center;
  height: 200px;
  width: 200px;

  background-color: darkcyan;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hexagon {
  display: grid;
  place-items: center;
  height: 200px;
  width: 200px;

  background-color: darkcyan;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.circle {
  display: grid;
  place-items: center;
  height: 200px;
  width: 200px;
  background-color: darkcyan;
  clip-path: circle(50% at 50% 50%);
}

.star {
  display: grid;
  place-items: center;
  height: 200px;
  width: 200px;
  background-color: darkcyan;

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.rectangle {
  display: grid;
  place-items: center;
  height: 200px;
  width: 200px;

  background-color: darkcyan;
}
.close {
  cursor: pointer;
  background-color: darkcyan;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  width: 100px;
  margin: 40px auto 0px auto;
}

/* styling the list */
.output__container {
  list-style: none;
  margin-top: 14px;
  width: 95%;
  display: flex;
  gap: 10px;
  margin-inline: auto;
  display: flex;
 flex-wrap: wrap;
  z-index: 3;
}
